.progress1 {
    margin-top: 30px;
    width: 100%;
    height: 8px;
    border-radius: 20px; 
    transition: 'opacity 0.5s ease-in-out',
  }
  
  .progress1::-webkit-progress-bar {
    background-color: transparent;
  }
  
  .progress1::-webkit-progress-value {
    background-color: green;
    border-radius: 20px;
    width: 45px;
    transform: scaleX(0.8); /* Riduce la larghezza della barra di valore al 50% */
    transform-origin: right;
  }
  
  /* Aggiungi supporto per Firefox */
  .progress1::-moz-progress-bar {
    background-color: green;
    border-radius: 20px;
    width: 45px;
    transform: scaleX(0.8); /* Riduce la larghezza della barra di valore al 50% */
    transform-origin: right;
  }
  
  /* Aggiungi supporto per Edge */
  .progress1::-ms-fill {
    background-color: green;
    border-radius: 20px;
    width: 45px;
    transform: scaleX(0.8); /* Riduce la larghezza della barra di valore al 50% */
    transform-origin: right;
  }


  .progress2 {
    margin-top: 30px;
    width: 100%;
    height: 8px;
    border-radius: 20px; 
    transition: 'opacity 0.5s ease-in-out',
  }
  
  .progress2::-webkit-progress-bar {
    background-color: transparent;
  }
  
  .progress2::-webkit-progress-value {
    background-color: rgb(165, 165, 165);
    border-radius: 20px;
    width: 45px;
    transform: scaleX(0.8); /* Riduce la larghezza della barra di valore al 50% */
    transform-origin: right;
  }
  
  /* Aggiungi supporto per Firefox */
  .progress2::-moz-progress-bar {
    background-color:  rgb(165, 165, 165);
    border-radius: 20px;
    width: 45px;
    transform: scaleX(0.8); /* Riduce la larghezza della barra di valore al 50% */
    transform-origin: right;
  }
  
  /* Aggiungi supporto per Edge */
  .progress2::-ms-fill {
    background-color:  rgb(165, 165, 165);
    border-radius: 20px;
    width: 45px;
    transform: scaleX(0.8); /* Riduce la larghezza della barra di valore al 50% */
    transform-origin: right;
  }